node_modules
/node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.*
!.env.example
env
!env/.env.example
*.md
.vscode
.idea
coverage
.nyc_output
Dockerfile*
docker-compose*.yml
.dockerignore


# tooling / local-only
.husky
.nvmrc
.czrc
.adminjs
.editorconfig
repomix-output.xml
tsconfig.build.tsbuildinfo
biome.json

# tests
test
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts
