APP_ENV=
NODE_ENV=

HTTP_HOST=
HTTP_PORT=

LOG_LEVEL=

CORS_ORIGINS=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

SESSION_SECRET=
CSRF_SECRET=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
